# dirs
meta/

# hidden dirs
.import/
.vscode/
.mono/

# tiled ext
*.tsx
*.tmx
# asset ext
*.import
*.wav.import
*.png
*.ttf
*.wav
*.ogg
# data ext
*.xml

# include these for the README
!icon.png
!screenshots/*.png
